{% extends 'base.html' %}
{% load static %}

{% block header %}
    <header class="header--main-page">
        {% include "partials/header.html" %}
        <div class="slogan container container--90">
            <div class="slogan--item">
                <h1>Zacznij pomagać!<br />Oddaj niechciane rzeczy w zaufane ręce</h1>
            </div>
        </div>
    </header>
{% endblock %}

{% block stats %}
    {% include 'partials/statsContainer.html' %}
{% endblock %}

{% block steps %}
    {% include 'partials/stepsContainer.html' %}
{% endblock %}

{% block aboutus %}
    {% include 'partials/aboutUs.html' %}
{% endblock %}

{% block help %}
    {% include 'partials/help.html' %}
{% endblock %}